.background {
    /* taken from: http: //backgroundcheckall.com/rpg-background-generator-2/ */
    background-image: url("./assets/rpg-background-generator-2.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}

.health {
    width: 100%;
    background-color: red;
    height: 20px;
    border-radius: 10px;
}

.sky {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announce {
    font-size: 20px;
    border: 5px solid white;
    padding: 10px;
    color: white;
    background: #122bb3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
    margin-top: 10px;
}

.battlefield {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chars {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.progress {
    background-color: black;
    border-radius: 13px;
    padding: 3px;
    width: 25vw;
}

canvas {
    z-index: 1;
}

.move-bar {
    display: flex;
    justify-content: space-around;
}

.moves-list {
    /* max-width: 00%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(18, 43, 179, 1);
    border-radius: 10px;
    border: 1px soild black;
    margin-bottom: 10px;
    border: 5px solid white;
}

.move {
    min-height: 40px;
    max-height: 60px;
    min-width: 40px;
    margin: 5px;
    border: 5px solid white;
    border-radius: 10px;
}

.characters {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.character {
    height: 100px;
    width: 100px;
    zoom: 400%;
}

.char {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-background {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    position: relative;
    height: 100%;
    width: 100%;
}

.modal {
    background-color: rgb(18, 43, 179, 1);
    z-index: 5;
    height: 40%;
    width: 40%;
}

.button {
    cursor: pointer;
    border-radius: 10px;
    border: 5px solid white;
    padding: 5px;
    margin-top: 10px;
}

.question-button {
    background-color: rgb(18, 43, 179, 1);
    border-radius: 10px;
    border: 5px solid white;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    font-size: 38px;
    padding: 1px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

span {
    padding-top: 2px;
    padding-left: 2px;
}

.start-background {
    position: absolute;
    background-color: black;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 10vh;
}

h2 {
    font-size: 30px;
    color: white;
    margin-bottom: 10vh;
}

.choose-char:hover {
    border-radius: 10px;
    border: 5px solid white;
}

.moves-modal-text {
    text-transform: uppercase;
    margin-bottom: 10px;
    max-width: 25 vw;
}