.background {
    /* taken from: http: //backgroundcheckall.com/rpg-background-generator-2/ */
    background-image: url("./assets/rpg-background-generator-2.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.health-bars-and-moves {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 20px;
}

.health {
    width: 90%;
    background-color: red;
    height: 20px;
    border-radius: 10px;
}

.progress {
    background-color: black;
    border-radius: 13px;
    padding: 3px;
    width: 25vw;
}

.moves-list {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: px; */
    background: lightgrey;
    border-radius: 10px;
    border: 1px soild black;
    margin-bottom: 10px;
}

.move {
    min-height: 40px;
    max-height: 60px;
    min-width: 40px;
    padding: 10px;
    color: red;
}

.characters {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.character {
    height: 100px;
    width: 100px;
    zoom: 400%;
}