.background {
    /* taken from: http: //backgroundcheckall.com/rpg-background-generator-2/ */
    background-image: url("./assets/rpg-background-generator-2.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.health {
    width: 100%;
    background-color: red;
    height: 20px;
    border-radius: 10px;
}

.sky {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announce {
    font-size: 20px;
    border: 5px solid white;
    padding: 5px;
    color: white;
    background: #122bb3;
    border-radius: 5px
}

.battlefield {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chars {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.progress {
    background-color: black;
    border-radius: 13px;
    padding: 3px;
    width: 25vw;
}

canvas {
    z-index: 1;
}

.moves-list {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: lightgrey;
    border-radius: 10px;
    border: 1px soild black;
}

.move {
    min-height: 40px;
    max-height: 60px;
    min-width: 40px;
    padding: 10px;
}

.characters {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.character {
    height: 100px;
    width: 100px;
    zoom: 400%;
}

.char {
    display: flex;
    flex-direction: column;
    justify-content: center;
}